@media (min-width: 0px) and (orientation: portrait) {
  .cmw-balance {
    width: 100%; }
  .cmw-balance-h-1 {
    height: 1%; }
  .cmw-balance-h-2 {
    height: 2%; }
  .cmw-balance-h-3 {
    height: 3%; }
  .cmw-balance-h-4 {
    height: 4%; }
  .cmw-balance-h-5 {
    height: 5%; }
  .cmw-balance-h-6 {
    height: 6%; }
  .cmw-balance-h-7 {
    height: 7%; }
  .cmw-balance-h-8 {
    height: 8%; }
  .cmw-balance-h-9 {
    height: 9%; }
  .cmw-balance-h-10 {
    height: 10%; }
  .cmw-balance-h-11 {
    height: 11%; }
  .cmw-balance-h-12 {
    height: 12%; }
  .cmw-balance-h-13 {
    height: 13%; }
  .cmw-balance-h-14 {
    height: 14%; }
  .cmw-balance-h-15 {
    height: 15%; }
  .cmw-balance-h-16 {
    height: 16%; }
  .cmw-balance-h-17 {
    height: 17%; }
  .cmw-balance-h-18 {
    height: 18%; }
  .cmw-balance-h-19 {
    height: 19%; }
  .cmw-balance-h-20 {
    height: 20%; }
  .cmw-balance-h-21 {
    height: 21%; }
  .cmw-balance-h-22 {
    height: 22%; }
  .cmw-balance-h-23 {
    height: 23%; }
  .cmw-balance-h-24 {
    height: 24%; }
  .cmw-balance-h-25 {
    height: 25%; }
  .cmw-balance-h-26 {
    height: 26%; }
  .cmw-balance-h-27 {
    height: 27%; }
  .cmw-balance-h-28 {
    height: 28%; }
  .cmw-balance-h-29 {
    height: 29%; }
  .cmw-balance-h-30 {
    height: 30%; }
  .cmw-balance-h-31 {
    height: 31%; }
  .cmw-balance-h-32 {
    height: 32%; }
  .cmw-balance-h-33 {
    height: 33%; }
  .cmw-balance-h-34 {
    height: 34%; }
  .cmw-balance-h-35 {
    height: 35%; }
  .cmw-balance-h-36 {
    height: 36%; }
  .cmw-balance-h-37 {
    height: 37%; }
  .cmw-balance-h-38 {
    height: 38%; }
  .cmw-balance-h-39 {
    height: 39%; }
  .cmw-balance-h-40 {
    height: 40%; }
  .cmw-balance-h-41 {
    height: 41%; }
  .cmw-balance-h-42 {
    height: 42%; }
  .cmw-balance-h-43 {
    height: 43%; }
  .cmw-balance-h-44 {
    height: 44%; }
  .cmw-balance-h-45 {
    height: 45%; }
  .cmw-balance-h-46 {
    height: 46%; }
  .cmw-balance-h-47 {
    height: 47%; }
  .cmw-balance-h-48 {
    height: 48%; }
  .cmw-balance-h-49 {
    height: 49%; }
  .cmw-balance-h-50 {
    height: 50%; }
  .cmw-balance-h-51 {
    height: 51%; }
  .cmw-balance-h-52 {
    height: 52%; }
  .cmw-balance-h-53 {
    height: 53%; }
  .cmw-balance-h-54 {
    height: 54%; }
  .cmw-balance-h-55 {
    height: 55%; }
  .cmw-balance-h-56 {
    height: 56%; }
  .cmw-balance-h-57 {
    height: 57%; }
  .cmw-balance-h-58 {
    height: 58%; }
  .cmw-balance-h-59 {
    height: 59%; }
  .cmw-balance-h-60 {
    height: 60%; }
  .cmw-balance-h-61 {
    height: 61%; }
  .cmw-balance-h-62 {
    height: 62%; }
  .cmw-balance-h-63 {
    height: 63%; }
  .cmw-balance-h-64 {
    height: 64%; }
  .cmw-balance-h-65 {
    height: 65%; }
  .cmw-balance-h-66 {
    height: 66%; }
  .cmw-balance-h-67 {
    height: 67%; }
  .cmw-balance-h-68 {
    height: 68%; }
  .cmw-balance-h-69 {
    height: 69%; }
  .cmw-balance-h-70 {
    height: 70%; }
  .cmw-balance-h-71 {
    height: 71%; }
  .cmw-balance-h-72 {
    height: 72%; }
  .cmw-balance-h-73 {
    height: 73%; }
  .cmw-balance-h-74 {
    height: 74%; }
  .cmw-balance-h-75 {
    height: 75%; }
  .cmw-balance-h-76 {
    height: 76%; }
  .cmw-balance-h-77 {
    height: 77%; }
  .cmw-balance-h-78 {
    height: 78%; }
  .cmw-balance-h-79 {
    height: 79%; }
  .cmw-balance-h-80 {
    height: 80%; }
  .cmw-balance-h-81 {
    height: 81%; }
  .cmw-balance-h-82 {
    height: 82%; }
  .cmw-balance-h-83 {
    height: 83%; }
  .cmw-balance-h-84 {
    height: 84%; }
  .cmw-balance-h-85 {
    height: 85%; }
  .cmw-balance-h-86 {
    height: 86%; }
  .cmw-balance-h-87 {
    height: 87%; }
  .cmw-balance-h-88 {
    height: 88%; }
  .cmw-balance-h-89 {
    height: 89%; }
  .cmw-balance-h-90 {
    height: 90%; }
  .cmw-balance-h-91 {
    height: 91%; }
  .cmw-balance-h-92 {
    height: 92%; }
  .cmw-balance-h-93 {
    height: 93%; }
  .cmw-balance-h-94 {
    height: 94%; }
  .cmw-balance-h-95 {
    height: 95%; }
  .cmw-balance-h-96 {
    height: 96%; }
  .cmw-balance-h-97 {
    height: 97%; }
  .cmw-balance-h-98 {
    height: 98%; }
  .cmw-balance-h-99 {
    height: 99%; }
  .cmw-balance-h-100 {
    height: 100%; } }

@media (min-width: 0px) and (orientation: landscape) {
  .cmw-balance {
    float: left;
    height: 100%; }
  .cmw-balance-w-1 {
    width: 1%; }
  .cmw-balance-w-2 {
    width: 2%; }
  .cmw-balance-w-3 {
    width: 3%; }
  .cmw-balance-w-4 {
    width: 4%; }
  .cmw-balance-w-5 {
    width: 5%; }
  .cmw-balance-w-6 {
    width: 6%; }
  .cmw-balance-w-7 {
    width: 7%; }
  .cmw-balance-w-8 {
    width: 8%; }
  .cmw-balance-w-9 {
    width: 9%; }
  .cmw-balance-w-10 {
    width: 10%; }
  .cmw-balance-w-11 {
    width: 11%; }
  .cmw-balance-w-12 {
    width: 12%; }
  .cmw-balance-w-13 {
    width: 13%; }
  .cmw-balance-w-14 {
    width: 14%; }
  .cmw-balance-w-15 {
    width: 15%; }
  .cmw-balance-w-16 {
    width: 16%; }
  .cmw-balance-w-17 {
    width: 17%; }
  .cmw-balance-w-18 {
    width: 18%; }
  .cmw-balance-w-19 {
    width: 19%; }
  .cmw-balance-w-20 {
    width: 20%; }
  .cmw-balance-w-21 {
    width: 21%; }
  .cmw-balance-w-22 {
    width: 22%; }
  .cmw-balance-w-23 {
    width: 23%; }
  .cmw-balance-w-24 {
    width: 24%; }
  .cmw-balance-w-25 {
    width: 25%; }
  .cmw-balance-w-26 {
    width: 26%; }
  .cmw-balance-w-27 {
    width: 27%; }
  .cmw-balance-w-28 {
    width: 28%; }
  .cmw-balance-w-29 {
    width: 29%; }
  .cmw-balance-w-30 {
    width: 30%; }
  .cmw-balance-w-31 {
    width: 31%; }
  .cmw-balance-w-32 {
    width: 32%; }
  .cmw-balance-w-33 {
    width: 33%; }
  .cmw-balance-w-34 {
    width: 34%; }
  .cmw-balance-w-35 {
    width: 35%; }
  .cmw-balance-w-36 {
    width: 36%; }
  .cmw-balance-w-37 {
    width: 37%; }
  .cmw-balance-w-38 {
    width: 38%; }
  .cmw-balance-w-39 {
    width: 39%; }
  .cmw-balance-w-40 {
    width: 40%; }
  .cmw-balance-w-41 {
    width: 41%; }
  .cmw-balance-w-42 {
    width: 42%; }
  .cmw-balance-w-43 {
    width: 43%; }
  .cmw-balance-w-44 {
    width: 44%; }
  .cmw-balance-w-45 {
    width: 45%; }
  .cmw-balance-w-46 {
    width: 46%; }
  .cmw-balance-w-47 {
    width: 47%; }
  .cmw-balance-w-48 {
    width: 48%; }
  .cmw-balance-w-49 {
    width: 49%; }
  .cmw-balance-w-50 {
    width: 50%; }
  .cmw-balance-w-51 {
    width: 51%; }
  .cmw-balance-w-52 {
    width: 52%; }
  .cmw-balance-w-53 {
    width: 53%; }
  .cmw-balance-w-54 {
    width: 54%; }
  .cmw-balance-w-55 {
    width: 55%; }
  .cmw-balance-w-56 {
    width: 56%; }
  .cmw-balance-w-57 {
    width: 57%; }
  .cmw-balance-w-58 {
    width: 58%; }
  .cmw-balance-w-59 {
    width: 59%; }
  .cmw-balance-w-60 {
    width: 60%; }
  .cmw-balance-w-61 {
    width: 61%; }
  .cmw-balance-w-62 {
    width: 62%; }
  .cmw-balance-w-63 {
    width: 63%; }
  .cmw-balance-w-64 {
    width: 64%; }
  .cmw-balance-w-65 {
    width: 65%; }
  .cmw-balance-w-66 {
    width: 66%; }
  .cmw-balance-w-67 {
    width: 67%; }
  .cmw-balance-w-68 {
    width: 68%; }
  .cmw-balance-w-69 {
    width: 69%; }
  .cmw-balance-w-70 {
    width: 70%; }
  .cmw-balance-w-71 {
    width: 71%; }
  .cmw-balance-w-72 {
    width: 72%; }
  .cmw-balance-w-73 {
    width: 73%; }
  .cmw-balance-w-74 {
    width: 74%; }
  .cmw-balance-w-75 {
    width: 75%; }
  .cmw-balance-w-76 {
    width: 76%; }
  .cmw-balance-w-77 {
    width: 77%; }
  .cmw-balance-w-78 {
    width: 78%; }
  .cmw-balance-w-79 {
    width: 79%; }
  .cmw-balance-w-80 {
    width: 80%; }
  .cmw-balance-w-81 {
    width: 81%; }
  .cmw-balance-w-82 {
    width: 82%; }
  .cmw-balance-w-83 {
    width: 83%; }
  .cmw-balance-w-84 {
    width: 84%; }
  .cmw-balance-w-85 {
    width: 85%; }
  .cmw-balance-w-86 {
    width: 86%; }
  .cmw-balance-w-87 {
    width: 87%; }
  .cmw-balance-w-88 {
    width: 88%; }
  .cmw-balance-w-89 {
    width: 89%; }
  .cmw-balance-w-90 {
    width: 90%; }
  .cmw-balance-w-91 {
    width: 91%; }
  .cmw-balance-w-92 {
    width: 92%; }
  .cmw-balance-w-93 {
    width: 93%; }
  .cmw-balance-w-94 {
    width: 94%; }
  .cmw-balance-w-95 {
    width: 95%; }
  .cmw-balance-w-96 {
    width: 96%; }
  .cmw-balance-w-97 {
    width: 97%; }
  .cmw-balance-w-98 {
    width: 98%; }
  .cmw-balance-w-99 {
    width: 99%; }
  .cmw-balance-w-100 {
    width: 100%; } }
